<!DOCTYPE html>
<html>
<head>
  <title>TinOpener</title>
  <%= stylesheet_link_tag    "tin_opener/application", media: "all" %>
  <%= javascript_include_tag "tin_opener/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
